Protocol  Address          Age (min)  Hardware Addr   Type   Interface
Internet  172.16.4.1             69   6c41.6a1e.68f8  ARPA   GigabitEthernet1/0/24
Internet  172.16.4.2              -   0042.5af7.c8c1  ARPA   GigabitEthernet1/0/24
Internet  172.16.180.1            -   0042.5af7.c8c2  ARPA   Vlan180
Internet  172.16.180.2          103   2037.0667.2d41  ARPA   Vlan180
Internet  172.16.180.10           1   f8bc.124e.db79  ARPA   Vlan180
Internet  172.16.180.11         170   60e9.aa1f.1061  ARPA   Vlan180
Internet  172.16.180.13           0   0050.568f.63e5  ARPA   Vlan180
Internet  172.16.180.28           1   Incomplete      ARPA   
Internet  172.16.180.29           1   Incomplete      ARPA   
Internet  172.16.180.30          13   0050.5689.6081  ARPA   Vlan180
Internet  172.16.180.31           1   Incomplete      ARPA   
Internet  172.16.180.32           1   Incomplete      ARPA   
Internet  172.16.180.33           1   Incomplete      ARPA   
Internet  172.16.180.34           1   Incomplete      ARPA   
Internet  172.16.180.35           1   Incomplete      ARPA   
Internet  172.16.180.36           1   Incomplete      ARPA   
Internet  172.16.180.37           1   Incomplete      ARPA   
Internet  172.16.180.38           0   0050.568f.0666  ARPA   Vlan180
Internet  172.16.180.39           1   Incomplete      ARPA   
Internet  172.16.180.40           0   5096.5500.0a00  ARPA   Vlan180
Internet  172.16.180.41           0   Incomplete      ARPA   
Internet  172.16.180.42           0   Incomplete      ARPA   
Internet  172.16.180.43         245   000c.29a1.40e1  ARPA   Vlan180
Internet  172.16.180.44           0   000c.29e5.937d  ARPA   Vlan180
Internet  172.16.180.45           0   Incomplete      ARPA   
Internet  172.16.180.46           0   Incomplete      ARPA   
Internet  172.16.180.47           0   Incomplete      ARPA   
Internet  172.16.180.48           0   Incomplete      ARPA   
Internet  172.16.180.49           0   Incomplete      ARPA   
Internet  172.16.180.50           0   Incomplete      ARPA   
Internet  172.16.180.51           0   Incomplete      ARPA   
Internet  172.16.180.52           0   Incomplete      ARPA   
Internet  172.16.180.53           0   Incomplete      ARPA   
Internet  172.16.180.54           0   0050.56be.35c1  ARPA   Vlan180
Internet  172.16.180.55           0   Incomplete      ARPA   
Internet  172.16.180.56           0   Incomplete      ARPA   
Internet  172.16.180.57           0   Incomplete      ARPA   
Internet  172.16.180.58           0   Incomplete      ARPA   
Internet  172.16.180.59           0   Incomplete      ARPA   
Internet  172.16.180.60           0   Incomplete      ARPA   
Internet  172.16.180.61           0   Incomplete      ARPA   
Internet  172.16.180.62          77   000c.29e5.9387  ARPA   Vlan180
Internet  172.16.180.63           0   Incomplete      ARPA   
Internet  172.16.180.64           0   Incomplete      ARPA   
Internet  172.16.180.65           0   Incomplete      ARPA   
Internet  172.16.180.66           0   Incomplete      ARPA   
Internet  172.16.180.67           0   Incomplete      ARPA   
Internet  172.16.180.68           0   Incomplete      ARPA   
Internet  172.16.180.69           0   Incomplete      ARPA   
Internet  172.16.180.70           0   Incomplete      ARPA   
Internet  172.16.180.71           0   Incomplete      ARPA   
Internet  172.16.180.72           0   Incomplete      ARPA   
Internet  172.16.180.73           0   Incomplete      ARPA   
Internet  172.16.180.74           0   Incomplete      ARPA   
Internet  172.16.180.75           0   Incomplete      ARPA   
Internet  172.16.180.76           0   Incomplete      ARPA   
Internet  172.16.180.77           0   f44e.05a5.7268  ARPA   Vlan180
Internet  172.16.180.78           2   0050.56bc.9888  ARPA   Vlan180
Internet  172.16.180.79           0   Incomplete      ARPA   
Internet  172.16.180.80          35   000c.290a.fe76  ARPA   Vlan180
Internet  172.16.180.81           0   Incomplete      ARPA   
Internet  172.16.180.82           0   Incomplete      ARPA   
Internet  172.16.180.83           0   Incomplete      ARPA   
Internet  172.16.180.84           0   Incomplete      ARPA   
Internet  172.16.180.85           0   c434.6bbf.8bd0  ARPA   Vlan180
Internet  172.16.180.86           0   Incomplete      ARPA   
Internet  172.16.180.87           0   Incomplete      ARPA   
Internet  172.16.180.88           0   0050.56bc.8725  ARPA   Vlan180
Internet  172.16.180.89           0   Incomplete      ARPA   
Internet  172.16.180.90           0   Incomplete      ARPA   
Internet  172.16.180.91          64   24f6.770a.8cd0  ARPA   Vlan180
Internet  172.16.180.92           0   000c.2917.9d43  ARPA   Vlan180
Internet  172.16.180.93           0   000c.297f.aa02  ARPA   Vlan180
Internet  172.16.180.94           3   0050.56bc.4523  ARPA   Vlan180
Internet  172.16.180.95           0   Incomplete      ARPA   
Internet  172.16.180.96           0   000c.2954.e74b  ARPA   Vlan180
Internet  172.16.180.97         195   000c.2965.2ab3  ARPA   Vlan180
Internet  172.16.180.98         180   001e.1486.4bff  ARPA   Vlan180
Internet  172.16.180.99           0   Incomplete      ARPA   
Internet  172.16.180.100         40   ac1f.6b00.9070  ARPA   Vlan180
Internet  172.16.180.101          0   Incomplete      ARPA   
Internet  172.16.180.102          0   8018.44ea.0065  ARPA   Vlan180
Internet  172.16.180.103          0   Incomplete      ARPA   
Internet  172.16.180.104          0   Incomplete      ARPA   
Internet  172.16.180.105          0   Incomplete      ARPA   
Internet  172.16.180.106          0   Incomplete      ARPA   
Internet  172.16.180.107          0   Incomplete      ARPA   
Internet  172.16.180.108          0   Incomplete      ARPA   
Internet  172.16.180.109          0   Incomplete      ARPA   
Internet  172.16.180.110          0   ac1f.6b03.b60a  ARPA   Vlan180
Internet  172.16.180.111          0   Incomplete      ARPA   
Internet  172.16.180.112          0   Incomplete      ARPA   
Internet  172.16.180.113          0   Incomplete      ARPA   
Internet  172.16.180.114          0   Incomplete      ARPA   
Internet  172.16.180.115          0   Incomplete      ARPA   
Internet  172.16.180.116          0   Incomplete      ARPA   
Internet  172.16.180.117          0   0050.5696.7a7a  ARPA   Vlan180
Internet  172.16.180.118          0   Incomplete      ARPA   
Internet  172.16.180.119          0   Incomplete      ARPA   
Internet  172.16.180.120          0   Incomplete      ARPA   
Internet  172.16.180.121          0   Incomplete      ARPA   
Internet  172.16.180.122          0   Incomplete      ARPA   
Internet  172.16.180.123          0   Incomplete      ARPA   
Internet  172.16.180.124          0   Incomplete      ARPA   
Internet  172.16.180.125          0   000c.2942.a7c6  ARPA   Vlan180
Internet  172.16.180.126          0   Incomplete      ARPA   
Internet  172.16.180.127          0   Incomplete      ARPA   
Internet  172.16.180.128          0   Incomplete      ARPA   
Internet  172.16.180.129          0   Incomplete      ARPA   
Internet  172.16.180.130          0   Incomplete      ARPA   
Internet  172.16.180.131          0   Incomplete      ARPA   
Internet  172.16.180.132          0   Incomplete      ARPA   
Internet  172.16.180.133          0   Incomplete      ARPA   
Internet  172.16.180.134          0   Incomplete      ARPA   
Internet  172.16.180.135          0   Incomplete      ARPA   
Internet  172.16.180.136          0   Incomplete      ARPA   
Internet  172.16.180.137          0   Incomplete      ARPA   
Internet  172.16.180.138          0   Incomplete      ARPA   
Internet  172.16.180.139          0   Incomplete      ARPA   
Internet  172.16.180.140          0   Incomplete      ARPA   
Internet  172.16.180.141          0   Incomplete      ARPA   
Internet  172.16.180.142          0   Incomplete      ARPA   
Internet  172.16.180.143          0   Incomplete      ARPA   
Internet  172.16.180.144          0   Incomplete      ARPA   
Internet  172.16.180.145          0   Incomplete      ARPA   
Internet  172.16.180.146          0   Incomplete      ARPA   
Internet  172.16.180.147          0   Incomplete      ARPA   
Internet  172.16.180.148          0   Incomplete      ARPA   
Internet  172.16.180.149          0   Incomplete      ARPA   
Internet  172.16.180.150         90   0050.56be.7ebc  ARPA   Vlan180
Internet  172.16.180.151        105   000c.296e.819d  ARPA   Vlan180
Internet  172.16.180.152          0   Incomplete      ARPA   
Internet  172.16.180.153          0   Incomplete      ARPA   
Internet  172.16.180.154          0   Incomplete      ARPA   
Internet  172.16.180.155          0   Incomplete      ARPA   
Internet  172.16.180.156          0   Incomplete      ARPA   
Internet  172.16.180.157          0   Incomplete      ARPA   
Internet  172.16.180.158          0   Incomplete      ARPA   
Internet  172.16.180.159          0   Incomplete      ARPA   
Internet  172.16.180.160          0   Incomplete      ARPA   
Internet  172.16.180.161        191   0050.56be.17cd  ARPA   Vlan180
Internet  172.16.180.162         85   0050.56be.1ecc  ARPA   Vlan180
Internet  172.16.180.163          0   Incomplete      ARPA   
Internet  172.16.180.164          0   Incomplete      ARPA   
Internet  172.16.180.165          0   Incomplete      ARPA   
Internet  172.16.180.166          0   Incomplete      ARPA   
Internet  172.16.180.167          0   Incomplete      ARPA   
Internet  172.16.180.168          0   Incomplete      ARPA   
Internet  172.16.180.169          0   0011.32eb.e2e4  ARPA   Vlan180
Internet  172.16.180.170          0   Incomplete      ARPA   
Internet  172.16.180.171          0   Incomplete      ARPA   
Internet  172.16.180.172          0   Incomplete      ARPA   
Internet  172.16.180.173          0   Incomplete      ARPA   
Internet  172.16.180.174          0   Incomplete      ARPA   
Internet  172.16.180.175          0   Incomplete      ARPA   
Internet  172.16.180.176          0   Incomplete      ARPA   
Internet  172.16.180.177          0   Incomplete      ARPA   
Internet  172.16.180.178          0   Incomplete      ARPA   
Internet  172.16.180.179          0   Incomplete      ARPA   
Internet  172.16.180.180          0   Incomplete      ARPA   
Internet  172.16.180.181          0   Incomplete      ARPA   
Internet  172.16.180.182          0   Incomplete      ARPA   
Internet  172.16.180.183          0   Incomplete      ARPA   
Internet  172.16.180.184          0   Incomplete      ARPA   
Internet  172.16.180.185          0   Incomplete      ARPA   
Internet  172.16.180.186          0   Incomplete      ARPA   
Internet  172.16.180.187          0   Incomplete      ARPA   
Internet  172.16.180.188          0   Incomplete      ARPA   
Internet  172.16.180.189          0   Incomplete      ARPA   
Internet  172.16.180.190          0   Incomplete      ARPA   
Internet  172.16.180.191          0   Incomplete      ARPA   
Internet  172.16.180.192          0   Incomplete      ARPA   
Internet  172.16.180.193          0   Incomplete      ARPA   
Internet  172.16.180.194          0   Incomplete      ARPA   
Internet  172.16.180.195          0   Incomplete      ARPA   
Internet  172.16.180.196          0   Incomplete      ARPA   
Internet  172.16.180.197          0   Incomplete      ARPA   
Internet  172.16.180.198          0   Incomplete      ARPA   
Internet  172.16.180.199          0   Incomplete      ARPA   
Internet  172.16.180.200          8   0050.568f.5102  ARPA   Vlan180
Internet  172.16.180.201          0   000c.290a.fe62  ARPA   Vlan180
Internet  172.16.180.202          0   Incomplete      ARPA   
Internet  172.16.180.203          0   Incomplete      ARPA   
Internet  172.16.180.204          0   Incomplete      ARPA   
Internet  172.16.180.205          0   Incomplete      ARPA   
Internet  172.16.180.206          0   Incomplete      ARPA   
Internet  172.16.180.207          0   Incomplete      ARPA   
Internet  172.16.180.208          0   Incomplete      ARPA   
Internet  172.16.180.209          0   Incomplete      ARPA   
Internet  172.16.180.210          0   Incomplete      ARPA   
Internet  172.16.180.211          0   000c.297c.87cb  ARPA   Vlan180
Internet  172.16.180.212          0   Incomplete      ARPA   
Internet  172.16.180.213          0   Incomplete      ARPA   
Internet  172.16.180.214          0   Incomplete      ARPA   
Internet  172.16.180.215          0   Incomplete      ARPA   
Internet  172.16.180.216          0   Incomplete      ARPA   
Internet  172.16.180.217          0   Incomplete      ARPA   
Internet  172.16.180.218          0   Incomplete      ARPA   
Internet  172.16.180.219        193   000c.2955.ec30  ARPA   Vlan180
Internet  172.16.180.221          0   Incomplete      ARPA   
Internet  172.16.180.222          0   Incomplete      ARPA   
Internet  172.16.180.223          0   Incomplete      ARPA   
Internet  172.16.180.224          0   Incomplete      ARPA   
Internet  172.16.180.225          0   Incomplete      ARPA   
Internet  172.16.180.226          0   0050.56bc.8bcb  ARPA   Vlan180
Internet  172.16.180.227          0   Incomplete      ARPA   
Internet  172.16.180.228          0   Incomplete      ARPA   
Internet  172.16.180.229          0   Incomplete      ARPA   
Internet  172.16.180.230          0   Incomplete      ARPA   
Internet  172.16.180.231          0   Incomplete      ARPA   
Internet  172.16.180.232          0   Incomplete      ARPA   
Internet  172.16.180.233          0   Incomplete      ARPA   
Internet  172.16.180.234          0   Incomplete      ARPA   
Internet  172.16.180.235          0   0050.56bc.7f10  ARPA   Vlan180
Internet  172.16.180.236          0   Incomplete      ARPA   
Internet  172.16.180.237          0   Incomplete      ARPA   
Internet  172.16.180.238          0   Incomplete      ARPA   
Internet  172.16.180.239          0   Incomplete      ARPA   
Internet  172.16.180.240          0   0050.56bc.887d  ARPA   Vlan180
Internet  172.16.180.241          0   Incomplete      ARPA   
Internet  172.16.180.242          0   Incomplete      ARPA   
Internet  172.16.180.243          0   Incomplete      ARPA   
Internet  172.16.180.244          0   Incomplete      ARPA   
Internet  172.16.180.245          0   0014.ee09.9c33  ARPA   Vlan180
Internet  172.16.180.246          0   Incomplete      ARPA   
Internet  172.16.180.247          0   Incomplete      ARPA   
Internet  172.16.180.248          0   0050.56be.703d  ARPA   Vlan180
Internet  172.16.180.249          -   40a8.f028.3e77  ARPA  
Internet  172.16.180.250          0   Incomplete      ARPA   
Internet  172.16.180.251          0   Incomplete      ARPA   
Internet  172.16.180.252          0   Incomplete      ARPA   
Internet  172.16.180.253          0   Incomplete      ARPA   
Internet  172.16.180.254          -   0042.5af7.c8c2  ARPA   Vlan180
Internet  172.16.189.1            -   0042.5af7.c8c3  ARPA   Vlan189
Internet  172.16.189.11           0   0050.56bc.2fc9  ARPA   Vlan189
Internet  172.16.189.16         239   0050.56bc.7b57  ARPA   Vlan189
Internet  172.16.189.21           0   0050.56bc.aff3  ARPA   Vlan189
Internet  172.16.189.28           1   Incomplete      ARPA   
Internet  172.16.189.29           1   Incomplete      ARPA   
Internet  172.16.189.30           1   Incomplete      ARPA   
Internet  172.16.189.31           1   Incomplete      ARPA   
Internet  172.16.189.32           1   Incomplete      ARPA   
Internet  172.16.189.33           1   Incomplete      ARPA   
Internet  172.16.189.34           1   Incomplete      ARPA   
Internet  172.16.189.35           1   Incomplete      ARPA   
Internet  172.16.189.36           1   Incomplete      ARPA   
Internet  172.16.189.37           1   Incomplete      ARPA   
Internet  172.16.189.38           1   Incomplete      ARPA   
Internet  172.16.189.39           1   Incomplete      ARPA   
Internet  172.16.189.40           1   Incomplete      ARPA   
Internet  172.16.189.41           1   Incomplete      ARPA   
Internet  172.16.189.42           1   Incomplete      ARPA   
Internet  172.16.189.43           0   Incomplete      ARPA   
Internet  172.16.189.44           1   Incomplete      ARPA   
Internet  172.16.189.45           1   Incomplete      ARPA   
Internet  172.16.189.46           0   Incomplete      ARPA   
Internet  172.16.189.47           0   Incomplete      ARPA   
Internet  172.16.189.48           0   Incomplete      ARPA   
Internet  172.16.189.49           0   Incomplete      ARPA   
Internet  172.16.189.50           0   Incomplete      ARPA   
Internet  172.16.189.51           0   Incomplete      ARPA   
Internet  172.16.189.52           0   Incomplete      ARPA   
Internet  172.16.189.53           0   Incomplete      ARPA   
Internet  172.16.189.54           0   Incomplete      ARPA   
Internet  172.16.189.55           0   Incomplete      ARPA   
Internet  172.16.189.56           0   Incomplete      ARPA   
Internet  172.16.189.57           0   Incomplete      ARPA   
Internet  172.16.189.58           0   Incomplete      ARPA   
Internet  172.16.189.59           0   Incomplete      ARPA   
Internet  172.16.189.60           0   Incomplete      ARPA   
Internet  172.16.189.61           0   Incomplete      ARPA   
Internet  172.16.189.62           0   Incomplete      ARPA   
Internet  172.16.189.63           0   Incomplete      ARPA   
Internet  172.16.189.64           0   Incomplete      ARPA   
Internet  172.16.189.65           0   Incomplete      ARPA   
Internet  172.16.189.66           0   Incomplete      ARPA   
Internet  172.16.189.67           0   Incomplete      ARPA   
Internet  172.16.189.68           0   Incomplete      ARPA   
Internet  172.16.189.69           0   Incomplete      ARPA   
Internet  172.16.189.70           0   Incomplete      ARPA   
Internet  172.16.189.71           0   Incomplete      ARPA   
Internet  172.16.189.72           0   Incomplete      ARPA   
Internet  172.16.189.73           0   Incomplete      ARPA   
Internet  172.16.189.74           0   Incomplete      ARPA   
Internet  172.16.189.75           0   Incomplete      ARPA   
Internet  172.16.189.76           0   Incomplete      ARPA   
Internet  172.16.189.77           0   Incomplete      ARPA   
Internet  172.16.189.78           0   Incomplete      ARPA   
Internet  172.16.189.79           0   Incomplete      ARPA   
Internet  172.16.189.80           0   Incomplete      ARPA   
Internet  172.16.189.81           0   Incomplete      ARPA   
Internet  172.16.189.82           0   Incomplete      ARPA   
Internet  172.16.189.83           0   Incomplete      ARPA   
Internet  172.16.189.84           0   Incomplete      ARPA   
Internet  172.16.189.85           0   Incomplete      ARPA   
Internet  172.16.189.86           0   Incomplete      ARPA   
Internet  172.16.189.87           0   Incomplete      ARPA   
Internet  172.16.189.88           0   Incomplete      ARPA   
Internet  172.16.189.89           0   Incomplete      ARPA   
Internet  172.16.189.90           0   Incomplete      ARPA   
Internet  172.16.189.91           0   Incomplete      ARPA   
Internet  172.16.189.92           0   Incomplete      ARPA   
Internet  172.16.189.93           0   Incomplete      ARPA   
Internet  172.16.189.94           0   Incomplete      ARPA   
Internet  172.16.189.95           0   Incomplete      ARPA   
Internet  172.16.189.96           0   Incomplete      ARPA   
Internet  172.16.189.97           0   Incomplete      ARPA   
Internet  172.16.189.98           0   Incomplete      ARPA   
Internet  172.16.189.99           0   Incomplete      ARPA   
Internet  172.16.189.100          0   Incomplete      ARPA   
Internet  172.16.189.101          0   Incomplete      ARPA   
Internet  172.16.189.102          0   Incomplete      ARPA   
Internet  172.16.189.103          0   Incomplete      ARPA   
Internet  172.16.189.104          0   Incomplete      ARPA   
Internet  172.16.189.105          0   Incomplete      ARPA   
Internet  172.16.189.106          0   Incomplete      ARPA   
Internet  172.16.189.107          0   Incomplete      ARPA   
Internet  172.16.189.108          0   Incomplete      ARPA   
Internet  172.16.189.109          0   Incomplete      ARPA   
Internet  172.16.189.110          0   Incomplete      ARPA   
Internet  172.16.189.111          0   Incomplete      ARPA   
Internet  172.16.189.112          0   Incomplete      ARPA   
Internet  172.16.189.113          0   Incomplete      ARPA   
Internet  172.16.189.114          0   Incomplete      ARPA   
Internet  172.16.189.115          0   Incomplete      ARPA   
Internet  172.16.189.116          0   Incomplete      ARPA   
Internet  172.16.189.117          0   Incomplete      ARPA   
Internet  172.16.189.118          0   Incomplete      ARPA   
Internet  172.16.189.119          0   Incomplete      ARPA   
Internet  172.16.189.120          0   Incomplete      ARPA   
Internet  172.16.189.121          0   Incomplete      ARPA   
Internet  172.16.189.122          0   Incomplete      ARPA   
Internet  172.16.189.123          0   Incomplete      ARPA   
Internet  172.16.189.124          0   0050.56bc.aff3  ARPA   Vlan189
Internet  172.16.189.125          0   Incomplete      ARPA   
Internet  172.16.189.126          0   Incomplete      ARPA   
Internet  172.16.189.127          0   Incomplete      ARPA   
Internet  172.16.189.128          0   Incomplete      ARPA   
Internet  172.16.189.129          0   Incomplete      ARPA   
Internet  172.16.189.130          0   Incomplete      ARPA   
Internet  172.16.189.131          0   Incomplete      ARPA   
Internet  172.16.189.132          0   Incomplete      ARPA   
Internet  172.16.189.133          0   Incomplete      ARPA   
Internet  172.16.189.134          0   Incomplete      ARPA   
Internet  172.16.189.135          0   Incomplete      ARPA   
Internet  172.16.189.136          0   Incomplete      ARPA   
Internet  172.16.189.137          0   Incomplete      ARPA   
Internet  172.16.189.138          0   Incomplete      ARPA   
Internet  172.16.189.139          0   Incomplete      ARPA   
Internet  172.16.189.140          0   Incomplete      ARPA   
Internet  172.16.189.141          0   Incomplete      ARPA   
Internet  172.16.189.142          0   Incomplete      ARPA   
Internet  172.16.189.143          0   Incomplete      ARPA   
Internet  172.16.189.144          0   Incomplete      ARPA   
Internet  172.16.189.145          0   Incomplete      ARPA   
Internet  172.16.189.146          0   Incomplete      ARPA   
Internet  172.16.189.147          0   Incomplete      ARPA   
Internet  172.16.189.148          0   Incomplete      ARPA   
Internet  172.16.189.149          0   Incomplete      ARPA   
Internet  172.16.189.150          0   Incomplete      ARPA   
Internet  172.16.189.151          0   Incomplete      ARPA   
Internet  172.16.189.152          0   Incomplete      ARPA   
Internet  172.16.189.153          0   Incomplete      ARPA   
Internet  172.16.189.154          0   Incomplete      ARPA   
Internet  172.16.189.155          0   Incomplete      ARPA   
Internet  172.16.189.156          0   Incomplete      ARPA   
Internet  172.16.189.157          0   Incomplete      ARPA   
Internet  172.16.189.158          0   Incomplete      ARPA   
Internet  172.16.189.159          0   Incomplete      ARPA   
Internet  172.16.189.160          0   Incomplete      ARPA   
Internet  172.16.189.161          0   Incomplete      ARPA   
Internet  172.16.189.162          0   Incomplete      ARPA   
Internet  172.16.189.163          0   Incomplete      ARPA   
Internet  172.16.189.164          0   Incomplete      ARPA   
Internet  172.16.189.165          0   Incomplete      ARPA   
Internet  172.16.189.166          0   Incomplete      ARPA   
Internet  172.16.189.167          0   Incomplete      ARPA   
Internet  172.16.189.168          0   Incomplete      ARPA   
Internet  172.16.189.169          0   Incomplete      ARPA   
Internet  172.16.189.170          0   Incomplete      ARPA   
Internet  172.16.189.171          0   Incomplete      ARPA   
Internet  172.16.189.172          0   Incomplete      ARPA   
Internet  172.16.189.173          0   Incomplete      ARPA   
Internet  172.16.189.174          0   Incomplete      ARPA   
Internet  172.16.189.175          0   Incomplete      ARPA   
Internet  172.16.189.176          0   Incomplete      ARPA   
Internet  172.16.189.177          0   Incomplete      ARPA   
Internet  172.16.189.178          0   Incomplete      ARPA   
Internet  172.16.189.179          0   Incomplete      ARPA   
Internet  172.16.189.180          0   Incomplete      ARPA   
Internet  172.16.189.181          0   Incomplete      ARPA   
Internet  172.16.189.182          0   Incomplete      ARPA   
Internet  172.16.189.183          0   Incomplete      ARPA   
Internet  172.16.189.184          0   Incomplete      ARPA   
Internet  172.16.189.185          0   Incomplete      ARPA   
Internet  172.16.189.186          0   Incomplete      ARPA   
Internet  172.16.189.187          0   Incomplete      ARPA   
Internet  172.16.189.188          0   Incomplete      ARPA   
Internet  172.16.189.189          0   Incomplete      ARPA   
Internet  172.16.189.190          0   Incomplete      ARPA   
Internet  172.16.189.191          0   Incomplete      ARPA   
Internet  172.16.189.192          0   Incomplete      ARPA   
Internet  172.16.189.193          0   Incomplete      ARPA   
Internet  172.16.189.194          0   Incomplete      ARPA   
Internet  172.16.189.195          0   Incomplete      ARPA   
Internet  172.16.189.196          0   Incomplete      ARPA   
Internet  172.16.189.197          0   Incomplete      ARPA   
Internet  172.16.189.198          0   Incomplete      ARPA   
Internet  172.16.189.199          0   Incomplete      ARPA   
Internet  172.16.189.200          0   Incomplete      ARPA   
Internet  172.16.189.201          0   Incomplete      ARPA   
Internet  172.16.189.202          0   Incomplete      ARPA   
Internet  172.16.189.203          0   Incomplete      ARPA   
Internet  172.16.189.204          0   Incomplete      ARPA   
Internet  172.16.189.205          0   Incomplete      ARPA   
Internet  172.16.189.206          0   Incomplete      ARPA   
Internet  172.16.189.207          0   Incomplete      ARPA   
Internet  172.16.189.208          0   Incomplete      ARPA   
Internet  172.16.189.209          0   Incomplete      ARPA   
Internet  172.16.189.210          0   Incomplete      ARPA   
Internet  172.16.189.211          0   Incomplete      ARPA   
Internet  172.16.189.212          0   Incomplete      ARPA   
Internet  172.16.189.213          0   Incomplete      ARPA   
Internet  172.16.189.214          0   Incomplete      ARPA   
Internet  172.16.189.215          0   Incomplete      ARPA   
Internet  172.16.189.216          0   Incomplete      ARPA   
Internet  172.16.189.217          0   Incomplete      ARPA   
Internet  172.16.189.218          0   Incomplete      ARPA   
Internet  172.16.189.219          0   Incomplete      ARPA   
Internet  172.16.189.220          0   Incomplete      ARPA   
Internet  172.16.189.221          0   Incomplete      ARPA   
Internet  172.16.189.222          0   Incomplete      ARPA   
Internet  172.16.189.223          0   Incomplete      ARPA   
Internet  172.16.189.224          0   Incomplete      ARPA   
Internet  172.16.189.225          0   Incomplete      ARPA   
Internet  172.16.189.226          0   0050.56bc.012c  ARPA   Vlan189
Internet  172.16.189.227          0   Incomplete      ARPA   
Internet  172.16.189.228          0   Incomplete      ARPA   
Internet  172.16.189.229          0   Incomplete      ARPA   
Internet  172.16.189.230          0   Incomplete      ARPA   
Internet  172.16.189.231          0   Incomplete      ARPA   
Internet  172.16.189.232          0   Incomplete      ARPA   
Internet  172.16.189.233          0   Incomplete      ARPA   
Internet  172.16.189.234          0   Incomplete      ARPA   
Internet  172.16.189.235          0   Incomplete      ARPA   
Internet  172.16.189.236          0   Incomplete      ARPA   
Internet  172.16.189.237          0   Incomplete      ARPA   
Internet  172.16.189.238          0   Incomplete      ARPA   
Internet  172.16.189.239          0   Incomplete      ARPA   
Internet  172.16.189.240          0   Incomplete      ARPA   
Internet  172.16.189.241          0   Incomplete      ARPA   
Internet  172.16.189.242          0   Incomplete      ARPA   
Internet  172.16.189.243          0   Incomplete      ARPA   
Internet  172.16.189.244          0   Incomplete      ARPA   
Internet  172.16.189.245          0   Incomplete      ARPA   
Internet  172.16.189.246          0   Incomplete      ARPA   
Internet  172.16.189.247          0   Incomplete      ARPA   
Internet  172.16.189.248          0   Incomplete      ARPA   
Internet  172.16.189.249          0   Incomplete      ARPA   
Internet  172.16.189.250          0   Incomplete      ARPA   
Internet  172.16.189.251          0   Incomplete      ARPA   
Internet  172.16.189.252          0   Incomplete      ARPA   
Internet  172.16.189.253          0   Incomplete      ARPA   
Internet  172.16.189.254          0   Incomplete      ARPA   
Internet  172.168.1.1             -   0042.5af7.c8c2  ARPA   Vlan180
Internet  192.168.2.1             -   0042.5af7.c8c2  ARPA   Vlan180
Internet  192.168.2.254           -   0042.5af7.c8c2  ARPA   Vlan180
Internet  223.1.1.253             -   0042.5af7.c8c2  ARPA   Vlan180