Building configuration...

Current configuration : 12641 bytes
!
! Last configuration change at 17:02:42 GMT Tue Dec 10 2024 by cisco
! NVRAM config last updated at 10:06:35 GMT Tue Dec 10 2024 by cisco
!
version 15.2
no service pad
service timestamps debug datetime msec
service timestamps log datetime localtime
no service password-encryption
!
hostname DW_LAB_TOR
!
boot-start-marker
boot-end-marker
!
logging buffered 40960
enable secret 9 $9$bWD5a3eRCX/IOF$tm4eP0Ncx1w9suKpqBJkVpaOBRlAgx0ssOS27j.AIoE
enable password P@ssw0rd123
!
username admin privilege 15 secret 9 $9$eBF7lFbcbIrTcV$KFiBQUitP08QwmtvxZmu4gq/LXi/hzs9YthJD9TXWL.
username cisco privilege 15 password 0 cisco
aaa new-model
!
!
aaa authentication login default local
aaa authorization exec default local 
!
!
!
!
!
!
aaa session-id common
clock timezone GMT 8 0
switch 1 provision ws-c2960x-24ts-l
!
!
!
!
ip routing
ip arp inspection validate src-mac ip 
ip arp inspection filter deny_98 vlan  180
ip dhcp excluded-address 172.16.189.1
ip dhcp excluded-address 172.16.189.254
ip dhcp excluded-address 172.16.180.1 172.16.180.10
ip dhcp excluded-address 172.16.180.100 172.16.180.254
ip dhcp excluded-address 172.16.180.30
ip dhcp excluded-address 172.16.180.98
ip dhcp excluded-address 172.16.180.97
ip dhcp excluded-address 172.16.180.200
ip dhcp excluded-address 172.16.180.31
!
ip dhcp pool 180
 network 172.16.180.0 255.255.255.0
 default-router 172.16.180.1 
 dns-server 223.5.5.5 
 option 67 ascii tftp://172.16.180.75/ztp_new.py
 option 148 ascii agilemode=agile-cloud;agilemanage-mode=ip;agilemanage-domain=139.9.137.139;agilemanage-port=10020;
 option 150 ip 172.16.180.251 
 lease 0 1
!
ip dhcp pool 189
 network 172.16.189.0 255.255.255.0
 default-router 172.16.189.1 
 dns-server 223.5.5.5 
!
!
ip domain-name cisco.com
!
!
!
!
!
!
!
crypto pki trustpoint TP-self-signed-1526188160
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-1526188160
 revocation-check none
 rsakeypair TP-self-signed-1526188160
!
!
crypto pki certificate chain TP-self-signed-1526188160
 certificate self-signed 01
  3082022B 30820194 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 31353236 31383831 3630301E 170D3234 30313239 30393334 
  35375A17 0D333030 31303130 30303030 305A3031 312F302D 06035504 03132649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D31 35323631 
  38383136 3030819F 300D0609 2A864886 F70D0101 01050003 818D0030 81890281 
  810099AE 6997F683 4377E426 EB2BC5A8 2D9C77D9 A7721B87 1DF92708 71119F41 
  BB0A1642 6C152057 274447B3 3705E355 E13D82A0 B852FFCE B3845D62 1A7CF566 
  E4AD3A74 AA8B7963 B7E121B7 090FC1C8 17E839EE 3B6D4E5E DB73829A 124C1A59 
  674ECDDE 6D0593B6 2E3D9A5D 13BFF071 396ED726 774C6A37 3A522EE4 C3273AD3 
  C4470203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF 301F0603 
  551D2304 18301680 14583B12 FBBD99BF 19347717 1452A47F 76A0C7AE 11301D06 
  03551D0E 04160414 583B12FB BD99BF19 34771714 52A47F76 A0C7AE11 300D0609 
  2A864886 F70D0101 05050003 81810064 F6AA4ECA E87EAD55 32D494B9 C1006B16 
  3CEBE5F3 006E9A02 ABB7D1BC E1F97697 E0107BAA C7A6C367 EBBB166D 9463095B 
  0A3DA37C 79C8BF15 04142EB7 B7197ECB 8FB4B3F5 550F951E 0A38C84D 85D93CE0 
  09E97FC5 4C379972 269BD4CC DD5A85D6 A528A0BA B27EDABE 70068016 0A75F5CC 
  D3D2E73E 41A13FAE 4D63A84E 4DF678
  	quit
!
spanning-tree mode pvst
spanning-tree extend system-id
spanning-tree vlan 1-179,181-188,190-1000 priority 24576
spanning-tree vlan 180,189 priority 4096
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause security-violation
errdisable recovery cause channel-misconfig
errdisable recovery cause pagp-flap
errdisable recovery cause dtp-flap
errdisable recovery cause link-flap
errdisable recovery cause sfp-config-mismatch
errdisable recovery cause gbic-invalid
errdisable recovery cause l2ptguard
errdisable recovery cause psecure-violation
errdisable recovery cause port-mode-failure
errdisable recovery cause dhcp-rate-limit
errdisable recovery cause pppoe-ia-rate-limit
errdisable recovery cause mac-limit
errdisable recovery cause vmps
errdisable recovery cause storm-control
errdisable recovery cause inline-power
errdisable recovery cause arp-inspection
errdisable recovery cause loopback
errdisable recovery cause small-frame
errdisable recovery cause psp
errdisable recovery cause loopdetect
errdisable recovery cause mrp-miscabling
errdisable recovery interval 30
!
!
!
!
vlan internal allocation policy ascending
!
lldp run
!
! 
!
!
!
!
!
!
!
!
interface FastEthernet0
 no ip address
 no ip route-cache
 shutdown
!
interface GigabitEthernet1/0/1
 description TO_ESXi_HOST-172.16.180.100
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/2
 description TO_SYNOLOGY_NAS_172.16.180.169
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/3
 description TO_WD_NAS_172.16.180.245
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/4
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/5
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
 spanning-tree portfast edge trunk
!
interface GigabitEthernet1/0/6
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
 spanning-tree portfast edge trunk
!
interface GigabitEthernet1/0/7
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
 spanning-tree portfast edge
!
interface GigabitEthernet1/0/8
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/9
 switchport trunk allowed vlan 180,189
 switchport mode trunk
!
interface GigabitEthernet1/0/10
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/11
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/12
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/13
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/14
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/15
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/16
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/17
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/18
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/19
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/20
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/21
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/22
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/23
 description "Connect To DW-Core-3650 Gig1/0/17 LAB_Layer2"
 switchport trunk allowed vlan 180,189
 switchport trunk native vlan 180
 switchport mode trunk
!
interface GigabitEthernet1/0/24
 no switchport
 ip address 172.16.4.2 255.255.255.0
!
interface GigabitEthernet1/0/25
 switchport mode trunk
!
interface GigabitEthernet1/0/26
 switchport mode trunk
!
interface GigabitEthernet1/0/27
 switchport mode trunk
!
interface GigabitEthernet1/0/28
 switchport mode trunk
!
interface Vlan1
 no ip address
 shutdown
!
interface Vlan180
 ip address 172.16.180.254 255.255.255.0 secondary
 ip address 172.168.1.1 255.255.255.0 secondary
 ip address 223.1.1.253 255.255.255.0 secondary
 ip address 192.168.2.1 255.255.255.0 secondary
 ip address 192.168.2.254 255.255.255.0 secondary
 ip address 172.16.180.1 255.255.255.0
 ipv6 address autoconfig
!
interface Vlan189
 ip address 172.16.189.1 255.255.255.0
!
!
ip http server
ip http banner
ip http secure-server
ip route 0.0.0.0 0.0.0.0 172.16.4.1
ip route 10.254.254.0 255.255.255.0 172.16.180.7
ip route 172.16.180.220 255.255.255.255 172.16.189.172
ip route 192.168.111.0 255.255.255.0 172.16.180.117
ip ssh version 2
ip scp server enable
!
!
arp access-list A
arp access-list deny_98
 deny ip host 172.16.180.98 mac host 000c.2986.134f log
 permit ip any mac any 
arp 172.16.180.249 40a8.f028.3e77 ARPA
!
!
snmp-server community cisco RW
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps transceiver all
snmp-server enable traps call-home message-send-fail server-fail
snmp-server enable traps eigrp
snmp-server enable traps tty
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific state-change shamlink interface
snmp-server enable traps ospf cisco-specific state-change shamlink neighbor
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps license
snmp-server enable traps auth-framework sec-violation
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps config-ctid
snmp-server enable traps pki
snmp-server enable traps trustsec-sxp conn-srcaddr-err msg-parse-err conn-config-err binding-err conn-up conn-down binding-expn-fail oper-nodeid-change binding-conflict
snmp-server enable traps energywise
snmp-server enable traps fru-ctrl
snmp-server enable traps entity
snmp-server enable traps event-manager
snmp-server enable traps ipmulticast
snmp-server enable traps ike policy add
snmp-server enable traps ike policy delete
snmp-server enable traps ike tunnel start
snmp-server enable traps ike tunnel stop
snmp-server enable traps ipsec cryptomap add
snmp-server enable traps ipsec cryptomap delete
snmp-server enable traps ipsec cryptomap attach
snmp-server enable traps ipsec cryptomap detach
snmp-server enable traps ipsec tunnel start
snmp-server enable traps ipsec tunnel stop
snmp-server enable traps ipsec too-many-sas
snmp-server enable traps ospfv3 state-change
snmp-server enable traps ospfv3 errors
snmp-server enable traps power-ethernet police
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps cpu threshold
snmp-server enable traps rep
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps syslog
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps flash insertion removal
snmp-server enable traps port-security
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server enable traps stackwise
snmp-server enable traps bulkstat collection transfer
snmp-server enable traps errdisable
snmp-server enable traps mac-notification change move threshold
snmp-server enable traps vlan-membership
snmp-server host 172.16.180.59 version 2c cisco 
snmp-server host 172.16.180.61 version 2c cisco 
!
!
banner motd ^C
*******************************************************
* Donewin Intelligence Technology (Shanghai) Co., Ltd *
*          Hostname: DW_LAB_TOR                       *
*          Modle: WS-C2960X-24TS-L                    *
*          Location: R203-S01_22U                     *
*    Administration: Network Technology Department    *
*    Any Unauthorized Login is Illegal !!!            *
*******************************************************
^C
!
line con 0
line vty 0 4
 authorization exec VTY_author
 transport input telnet ssh
 transport output all
line vty 5 15
 transport input ssh
!
ntp source Vlan180
ntp server 172.16.9.100
ntp server 172.16.9.101
!
end
